{
  "printWidth": 160,
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "quoteProps": "preserve",
  "endOfLine": "auto"
}